{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="form-container">
    <h4><strong>User register</strong></h4>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div>
            {% for error in form.non_field_errors %}
            <div class="error bg-danger rounded px-3 py-1 text-white my-1"> ⚠ {{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="{% url 'users:login' %}" class="signup-image-link">Login</a>

    </form>
</div>
{% endblock %}
